<%= form_for(@basket) do |f| %>
  <% if @basket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@basket.errors.count, "error") %> prohibited this basket from being saved:</h2>

      <ul>
      <% @basket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :notice %><br>
    <%= f.text_field :notice %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :document %><br>
    <%= f.text_field :document %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="field">
    <%= f.label :payment_id %><br>
    <%= f.collection_select :payment_id, Payment.all, :id, :name, multiple: false %>
  </div>
  <div class="field">
    <%= f.label :vendor_id %><br>
    <%= f.collection_select :vendor_id, Vendor.all, :id, :name, multiple: false %>
  </div>
  <div class="field">
      <%= f.label :purchase_date %><br>
      <%= f.date_field :purchase_date %>
  </div>
  <div class="field">
    <table id="items">
      <tr>
        <th>Name</th>
        <th>Qunatity</th>
        <th>Price</th>
        <th>Notice</th>
        <th>Category</th>
      </tr>
      <%= f.fields_for :items do |items_form| %>
          <tr>
            <td><%= items_form.text_field :name %></td>
            <td><%= items_form.text_field :quantity %></td>
            <td><%= items_form.text_field :price %></td>
            <td><%= items_form.text_field :notice %></td>
            <td><%= items_form.collection_select :category_id, Category.where(:income => false, :user_id => current_user.id), :id, :name, multiple: false %></td>
            <td><%= items_form.hidden_field :income, :value => false %></td>
            <td><%= items_form.hidden_field :launch, :value => Time.now.to_formatted_s(:db) %></td>
            <td><%= items_form.hidden_field :user_id, :value => current_user.id %></td>
          </tr>
      <% end %>
    </table>
    <%= submit_tag "Neuer Artikel", :type => 'button', :id => 'addItem',
                   :onclick => 'addItemRow()' %>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
