<div class="page-header">
  <h1>  Ausgaben  <i class="fa fa-building-o pull-right"></i> </h1>
</div>

<% @baskets.each do |basket| %>
    <div class="col-xs-6 col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to basket do %><h3 class="panel-title text-center"><i class="fa fa-calendar pull-left"></i> <%= basket.purchase_date.strftime("%d/%m/%Y")  %></h3><% end %>
        </div>
        <div class="panel-body">

          <div class="text-center">
            <h4 data-toggle="tooltip" data-placement="bottom" title="Summe der Artikel"> <%= basket.amount %> <i class="fa fa-euro"></i></h4>
          </div>
          <hr>
          <p><i class="fa fa-building-o"></i> <small><%= show_vendor_name(basket.vendor_id) %></small></p>
          <p><i class="fa fa-credit-card"></i> <small><%= show_payment_name(basket.payment_id) %></small></p>
        </div>
        <div class="panel-footer">
          <%= link_to edit_basket_path(basket) do %>  <button class="btn btn-default"> <i class="fa fa-pencil-square-o"></i> Ändern </button> <% end %>
          <%= link_to basket, method: :delete, data: { confirm: 'Are you sure?' } do %> <button class="btn btn-default"> <i class="fa fa-trash-o"></i> Löschen </button>  <% end %>
        </div>
      </div>
    </div>
<% end %>


<%= link_to '+', new_basket_path, :class => 'btn btn-default', :role => 'button' %>
