<div class="page-header">
  <h1>  Baskets  <i class="fa fa-building-o pull-right"></i>
  </h1>
</div>

<% @baskets.each do |basket| %>
    <div class="col-xs-6 col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><i class="fa fa-calendar pull-left"></i> <%= basket.created_at.strftime("%d/%m/%Y")  %></h3>
        </div>
        <div class="panel-body">
          <p><%= basket.amount %> &euro;</p>
          <p><i class="fa fa-building-o"></i> <small><%= show_vendor_name(basket.vendor_id) %></small></p>
          <p><i class="fa fa-credit-card"></i> <small><%= show_payment_name(basket.payment_id) %></small></p>
        </div>
        <div class="panel-footer">
          <%= link_to 'Edit',  edit_basket_path(basket), :class => 'btn btn-default', :role => 'button' %>
          <%= link_to 'Destroy', basket, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default', :role => 'button' %>
        </div>
      </div>
    </div>
<% end %>



<br>

<%= link_to '+', new_basket_path, :class => 'btn btn-default', :role => 'button' %>
