<p id="notice"><%= notice %></p>

<p>
  <strong>Notice:</strong>
  <%= @basket.notice %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @basket.amount %>
</p>

<p>
  <strong>Document:</strong>
  <%= @basket.document %>
</p>

<p>
  <strong>Payment:</strong>
  <%= show_payment_name(@basket.payment_id) %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= show_vendor_name(@basket.vendor_id) %>
</p>
<p class="field">
  <strong>Items:</strong>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Category</th>
    </tr>

  </table>
</p>
<%= link_to 'Edit', edit_basket_path(@basket) %> |
<%= link_to 'Back', baskets_path %>
