  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item">
        <%= image_tag("landing/unterwegs.png") %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Zugriff von Überall</h1>
            <p>Immer und überall Zugriff auf die aktuellsten Daten</p>
            <p></p>
          </div>
        </div>
      </div>
      <div class="item active">
        <%= image_tag("landing/Geldnote.png") %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Geld schläft nicht...</h1>
            <p>Behalte deine Ein- und Ausgaben im Überblick und schaffe potential.</p>
            <p></p>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag("landing/alldevices.png") %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Fully Responsive</h1>
            <p>Starte Bud$et auf all deinen Geräten, von überall wo du willst. Egal ob Smartphone, Tablet, Laptop, im Internetcafé auf Reisen oder vor dem Einkaufsladen - wir begleiten dich!</p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>




<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-sm-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
      <h2>Dashboard</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-sm-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
      <h2>Heading</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-sm-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Strukturier deine Ausgaben. <span class="text-muted">Von Überall zu jeder Zeit.</span></h2>
      <p class="lead">Erstelle kinderleicht <strong>Kategorien</strong>, <strong>Händler</strong> und <strong>Zahlungsmethoden</strong>  um jederzeit und überall einen Überblick über dine Ausgaben zu erhalten. </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE5MC4zMDQ2ODc1IiB5PSIyNTAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MjNwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj41MDB4NTAwPC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">


      <div class="panel panel-default">

        <div class="panel-body">
          <%= render :partial => '/devise/registrations/form'%>
        </div>
        <div class="panel-footer">
          <%= render :partial => "devise/shared/links" %>
        </div>
    </div>
  </div>
    <div class="col-md-5 hidden-sm hidden-xs">
      <h2 class="featurette-heading">Jetzt Anmelden! <span class="text-muted">Und alle Features nutzen.</span></h2>
      <p class="lead">Nur noch wenige Schritte bis Du die atemberaubende <strong>BUD$ET</strong> App nutzen kannst</p>
    </div>
    </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Dashboard. <span class="text-muted">Überblicke alles.</span></h2>
      <p class="lead">Eine Dashboard gibt dir jeden Tag die Fakten über deine <strong>Einnahmen</strong> und <strong>Ausgaben</strong> , so hast du die volle Kontrolle über dein Budget</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE5MC4zMDQ2ODc1IiB5PSIyNTAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MjNwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj41MDB4NTAwPC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">
</div>
  <!-- /END THE FEATURETTES -->
<div class="row text-center">
  <div class="jumbotron ">
    <h1>Überzeugt?</h1>
    <p class="lead">Melde dich schnell an, wir können es kaum erwarten dich endlich bei deinen Finazen zu unterstützten - kostenlos und verlässlich.</p>
    <p> <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-lg btn-success' %></p>
  </div>

</div>


  <!-- FOOTER -->
  <footer>

  </footer>
