  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item">
        <%= image_tag("landing/unterwegs.png") %>
        <div class="container">
          <div class="carousel-caption">mm
            <h1>Zugriff von Überall</h1>
            <p>Immer und überall Zugriff auf die aktuellsten Daten</p>
            <p></p>
          </div>
        </div>
      </div>
      <div class="item active">
        <%= image_tag("landing/Geldnote.png") %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Geld schläft nicht...</h1>
            <p>Behalte deine Ein- und Ausgaben im Überblick und schaffe potential.</p>
            <p></p>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag("landing/alldevices.png") %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Fully Responsive</h1>
            <p>Starte Bud$et auf all deinen Geräten.</p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>




<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row text-center">
    <div class="col-sm-4">
      <%= image_tag("Access.jpg", :class=>"img-circle", :style=>"width: 140px; height: 140px")%>
      <h2>Access</h2>
      <p>Auf einen Blick, alles im Blick. Egal ob im Internetcafé auf Reisen oder vor dem Einkaufsladen - wir begleiten dich! Behalte aber auch zu Hause die Kontrolle und starte <strong>Bud$et</strong> in dem Browser deiner Wahl.</p>
      <p><a class="btn btn-default" href="#Access" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-sm-4">
      <%= image_tag("Responsive.jpg", :class=>"img-circle", :style=>"width: 140px; height: 140px")%>
      <h2>Responsive</h2>
      <p>Von überall wo du willst. Egal ob Smartphone, Tablet, Laptop. Die für mobile Geräte optimierte Webseite lässt dich niemals im Stich. Egal welche Marke, ob iPhone, Android oder Windwos - <strong>Bud$et</strong> passt in jede Tasche und ist immer dabei.</p>
      <p><%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-lg btn-success' %></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-sm-4">
      <%= image_tag("Dashboard.jpg", :class=>"img-circle", :style=>"width: 140px; height: 140px")%>
      <h2>Dashboard</h2>
      <p>Überblick über deine Daten. Mit excelent designten Tabellen und informativen Diagramme behälst du die Übersicht, in <strong>Bud$et</strong>, über deine Finanzen und kannst ganz einfach aufschlussreiche Informationen über deine aktuellen Finanziellen Status erhalten.</p>
      <p><a class="btn btn-default" href="#Dashboard" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->

  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider" id="Access">

  <div class="row featurette" >
    <div class="col-md-7">
      <h2 class="featurette-heading">Strukturier deine Ausgaben. <span class="text-muted">Von Überall zu jeder Zeit.</span></h2>
      <p class="lead">Erstelle kinderleicht <strong>Kategorien</strong>, <strong>Händler</strong> und <strong>Zahlungsmethoden</strong>  um jederzeit und überall einen Überblick über dine Ausgaben zu erhalten. </div>
    <div class="col-md-5">
      <%= image_tag("Struktur.jpg", :class=>"featurette-image img-responsive", :style=>"width: 500px; height: 500px", "data-holder-rendered"=>"true")%>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">


      <div class="panel panel-default">

        <div class="panel-body">
          <%= render :partial => '/devise/registrations/form'%>
        </div>
        <div class="panel-footer">
          <%= render :partial => "devise/shared/links" %>
        </div>
    </div>
  </div>
    <div class="col-md-5 hidden-sm hidden-xs">
      <h2 class="featurette-heading">Jetzt Anmelden! <span class="text-muted">Und alle Features nutzen.</span></h2>
      <p class="lead">Nur noch wenige Schritte bis Du die atemberaubende <strong>BUD$ET</strong> App nutzen kannst</p>
    </div>
    </div>

  <hr class="featurette-divider" id="Dashboard">

  <div class="row featurette" >
    <div class="col-md-7">
      <h2 class="featurette-heading">Dashboard. <span class="text-muted">Überblicke alles.</span></h2>
      <p class="lead">Eine Dashboard gibt dir jeden Tag die Fakten über deine <strong>Einnahmen</strong> und <strong>Ausgaben</strong> , so hast du die volle Kontrolle über dein Budget</p>
    </div>
    <div class="col-md-5">
      <%= image_tag("Überblick.jpg", :class=>"featurette-image img-responsive", :style=>"width: 500px; height: 500px", "data-holder-rendered"=>"true")%>
    </div>
  </div>

  <hr class="featurette-divider">
</div>
  <!-- /END THE FEATURETTES -->
<div class="container text-center">
  <div class="jumbotron ">
    <h1>Überzeugt?</h1>
    <p class="lead">Melde dich schnell an, wir können es kaum erwarten dich endlich zu unterstützten - kostenlos und verlässlich.</p>
    <p> <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-lg btn-success' %></p>
  </div>

</div>


  <!-- FOOTER -->
  <footer>

  </footer>
