<h1>Welcome to your personal Bud$et!</h1>
<p>Take a look at your five last purchases:</p>
<table>
  <thead>
  <tr>
    <th>Date</th>
    <th>Vendor</th>
    <th>Amount</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @lastBaskets.each do |basket| %>
      <tr>
        <td><%= basket.created_at.strftime("%d/%m/%Y")  %></td>
        <td><%= show_vendor_name(basket.vendor_id) %></td>
        <td><%= basket.amount %></td>
        <td><%= link_to 'Show', basket %></td>
      </tr>
  <% end %>
    <tr>
        <td colspan="3">Sum</td>
      <td> <%= sum_amount(@lastBaskets) %></td>
    </tr>
  </tbody>
</table>
