<div class="page-header">
  <h1>Dashboard</h1>
</div>

<div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">Purchases</div>
      <div class="panel-body">
        <table>
          <thead>
          <tr>
            <th>Date</th>
            <th>Vendor</th>
            <th>Amount</th>
            <th colspan="1"></th>
          </tr>
          </thead>
          <tbody>
          <% @lastBaskets.each do |basket| %>
              <tr>
                <td><%= basket.created_at.strftime("%d/%m/%Y")  %></td>
                <td><%= show_vendor_name(basket.vendor_id) %></td>
                <td><%= basket.amount %></td>
                <td><%= link_to 'Show', basket %></td>
              </tr>
          <% end %>
          <tr>
            <td colspan="3">Sum</td>
            <td> <%= sum_amount(@lastBaskets) %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
<div class="col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading">Categories</div>
    <div class="panel-body">
        <div class="col-lg-6">
          <% @lastCategories.each do |category| %>
              <%= link_to category.name, category_path(category), :class => 'btn btn-default', :role => 'button' %>
          <% end %>
        </div>
          <div class="col-lg-6">
            <%= link_to '+', new_category_path, :class => 'btn btn-default', :role => 'button' %>
          </div>
      </div>
   </div>
</div>