<div class="page-header">
  <h1>Dashboard</h1>
</div>
<div class="col-xs-6"><%= link_to 'Neue Ausgabe', new_basket_path, :class => 'btn btn-default', :role => 'button' %></div>
<div class="col-xs-6"><%= link_to 'Neue Einnahme', income_new_path, :class => 'btn btn-default', :role => 'button' %></div>

<div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">
      <h3 class="panel-title">Ausgaben</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th><i class="fa fa-calendar"></i> Datum</th>
              <th><i class="fa fa-building-o"></i> Händler</th>
              <th><i class="fa fa-euro"></i> Wert</th>
            </tr>
            </thead>
            <tbody>
            <% @lastBaskets.each do |basket| %>
                <tr onclick="location.href='/baskets/<%= basket.id %>'">
                  <td><%= basket.purchase_date.strftime("%d/%m/%Y")  %></td>
                  <td><%= show_vendor_name(basket.vendor_id) %></td>
                  <td><%= basket.amount %> &euro;</td>
                </tr>
            <% end %>

            <tr>
              <td colspan="2"><strong>Sum</strong></td>
              <td> <%= sum_amount(@lastBaskets) %> &euro; </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
</div>
<div class="col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Kategorien</h3>
    </div>
    <div class="panel-body">

          <% @lastCategories.each do |category| %>
          <div class="col-xs-6">
            <%= link_to category_path(category) do %><button class="btn btn-default" role="button"> <i class="fa <%= category.glyphicon %> "></i> <%= category.name %></button> <% end %>
          </div>
         <% end %>

          <div class="col-xs-6">
            <%= link_to '+', new_category_path, :class => 'btn btn-default', :role => 'button' %>
          </div>
      </div>
   </div>
</div>