<%= form_for(@vendor, :html => {:multipart => true}) do |f| %>
  <% if @vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
      <% @vendor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="form-group">

  <div class="col-xs-6">
  </div>
  <div class="col-xs-6">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="col-xs-12">

    <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-picture-o"></i></div>
        <% # unless @vendor.logo %>
        <%= image_tag @vendor.logo if @vendor.logo? %>
        <% # end %>
    </div>

    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-file-text"></i></div>
      <%= f.text_field :name, :class =>"form-control", :placeholder => "Name" %>
    </div>

    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-picture-o"></i></div>
        <%= f.file_field :logo, :class =>"form-control btn btn-primary btn-file", :placeholder => "Logo" %>
    </div>



    <%= f.submit "Speichern" , :class => "btn btn-default" %>



  </div>
</div>
<% end %>