<div class="page-header">
  <h1>Händler<i class="fa fa-building-o pull-right"></i></h1>
</div>

<% @vendors.each do |vendor| %>
    <div class="col-xs-6 col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to vendor do%>
          <h3 class="panel-title"><%= vendor.name %></h3>
          <% end %>
        </div>
        <div class="panel-body">
          <% if(vendor.logo.present?) %>
              <img class="image-responsive" src="<%= vendor.logo %>"> </img>
          <% end %>
        </div>
        <div class="panel-footer">
          <%= link_to edit_vendor_path(vendor) do %>  <button class="btn btn-default"> <i class="fa fa-pencil-square-o"></i> Ändern </button> <% end %>
          <%= link_to vendor, method: :delete, data: { confirm: 'Are you sure?' } do %> <button class="btn btn-default"> <i class="fa fa-trash-o"></i> Löschen </button>  <% end %>
        </div>
      </div>
    </div>
<% end %>



<br>

<%= link_to '+', new_vendor_path, :class => 'btn btn-default', :role => 'button' %>
