<p id="notice"><%= notice %></p>

<div class="page-header">

  <h1> <%= link_to vendors_path do %>  <i class="fa fa-arrow-left"></i> <% end %> Händler Details <i class="fa fa-building-o pull-right"></i></h1>
</div>

<div class="col-xs-12">
  <div class="panel panel-default">
  <div class="panel-heading">
        <h3 class="panel-title text-center">
          <%= @vendor.name %>
        </h3>
  </div>
  <div class="panel-body">
    <%= image_tag @vendor.logo.url(:normal) if @vendor.logo? %>
    <div class="table">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Datum</th>
          <th>Notiz</th>
          <th>Preis</th>
        </tr>
        </thead>
        <tbody>
        <% @filteredBaskets.each do |basket| %>
            <tr onclick="location.href='/baskets/<%= basket.id %>'">
              <td><%= basket.created_at %></td>
              <td><%= basket.notice %> </td>
              <td><%= basket.amount %> &euro;</td>
            </tr>
        <% end %>
        <tr>
          <td colspan="2"><strong>Summe:</strong></td>
          <td> <%= sum_amount(@filteredBaskets)  %> &euro; </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- NEU -->

    <!-- ENDE -->
  </div>
  <div class="panel-footer">
    <%= link_to edit_vendor_path(@vendor) do %>  <button class="btn btn-default"> <i class="fa fa-pencil-square-o"></i> Ändern </button> <% end %>
  </div>
  </div>
  </div>
