<div class="page-header">
  <h1>Zahlungsmethoden<i class="fa fa-credit-card pull-right"></i></h1>
</div>

<% @payments.each do |payment| %>
    <div class="col-xs-6 col-lg-4">
      <% if (payment.active) %>
          <div class="panel panel-success">
      <% else %>
          <div class="panel panel-warning">
      <% end %>
      <div class="panel-heading">
        <%= link_to payment do %>
        <h3 class="panel-title"><%= payment.name %>
          <% if (payment.active) %>
              <i class="fa fa-check pull-right" data-toggle="tooltip" data-placement="left" title="Account ist aktiv"></i>
          <% else %>
              <i class="fa fa-times pull-right" data-toggle="tooltip" data-placement="left" title="Account ist inaktiv"></i>
          <% end %>
        </h3>
        <% end %>
      </div>
      <div class="panel-body">
        <div class="text-center">
          <h4 data-toggle="tooltip" data-placement="bottom" title="Summe der bisherigen Ausgaben beim Händler">  <%= sum_amount(find_baskets_of_payment(payment.id)) %> <i class="fa fa-euro"></i></h4>

        </div>
        <hr>


        <p><i class="fa fa-university"></i> IBAN: <small><%= payment.number %></small></p>
        <p><i class="fa fa-university"></i> BIC: <small><%= payment.bic %></small></p>
      </div>

      <div class="panel-footer">
        <%= link_to edit_payment_path(payment) do %>  <button class="btn btn-default"> <i class="fa fa-pencil-square-o"></i> Ändern </button> <% end %>
        <%= link_to payment, method: :delete, data: { confirm: 'Are you sure?' } do %> <button class="btn btn-default"> <i class="fa fa-trash-o"></i> Löschen </button>  <% end %>
      </div>
      </div>
      </div>
<% end %>



<br>

<%= link_to '+', new_payment_path, :class => 'btn btn-default', :role => 'button' %>
