<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @payment.user %>
</p>

<p>
  <strong>Number:</strong>
  <%= @payment.number %>
</p>

<p>
  <strong>Bic:</strong>
  <%= @payment.bic %>
</p>

<p>
  <strong>Active:</strong>
  <%= @payment.active %>
</p>

<p>
  <strong>Name:</strong>
  <%= @payment.name %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
