<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @payment.user %>
</p>

<p>
  <strong>Number:</strong>
  <%= @payment.number %>
</p>

<p>
  <strong>Bic:</strong>
  <%= @payment.bic %>
</p>

<p>
  <strong>Active:</strong>
  <%= @payment.active %>
</p>

<p>
  <strong>Name:</strong>
  <%= @payment.name %>
</p>


<div class="field">
  <table>
    <tr>
      <th>Date</th>
      <th>Notice</th>
      <th>Amount</th>
      <td colspan="1"> </td>
    </tr>
    <%= find_baskets_of_payment(@payment.id).each do |basket| %>
        <tr>
          <td><%= basket.created_at %></td>
          <td><%= basket.notice %> </td>
          <td><%= basket.amount %></td>
          <td><%= link_to 'Edit', edit_basket_path(basket.id) %> |</td>
        </tr>
    <% end %>
  </table>

</div>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
