<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :basket_id %><br>
    <%= f.text_field :basket_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :article_id %><br>
    <%= f.text_field :article_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :notice %><br>
    <%= f.text_field :notice %>
  </div>
  <div class="field">
    <%= f.label :income %><br>
    <%= f.check_box :income %>
  </div>
  <div class="field">
    <%= f.label :expense %><br>
    <%= f.check_box :expense %>
  </div>
  <div class="field">
    <%= f.label :period %><br>
    <%= f.number_field :period %>
  </div>
  <div class="field">
    <%= f.label :launch %><br>
    <%= f.date_select :launch %>
  </div>
  <div class="field">
    <%= f.label :finish %><br>
    <%= f.date_select :finish %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
