<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



    <div class="panel panel-default">


      <div class="panel-heading">
        <h3 class="panel-title">Übersicht</h3>
      </div>

      <div class="panel-body">
          <%= f.hidden_field :basket_id %>
          <%= f.hidden_field :article_id %>
          <%= f.hidden_field :user_id, :value => current_user.id %>


        <div class="col-xs-6">
          <div class="form-group">
            <label class="" for="">Name:</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-file-text"></i></div>
              <%= f.text_field :name, :class =>"form-control" %>
            </div>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="form-group">
            <label class="" for="">Kategorie:</label>
            <div class="input-group">
              <%= f.collection_select :category_id, Category.all, :id, :name, multiple: false %>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="form-group">
            <label class="" for="">Notiz:</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-file-text"></i></div>
              <%= f.text_field :notice ,:class =>"form-control"%>
            </div>
          </div>
        </div>


        <div class="col-xs-4">
          <div class="form-group">
            <label class="" for="">Anzahl:</label>
            <div class="input-group">
              <%= f.text_field :quantity ,:class =>"form-control" %>

            </div>
          </div>
        </div>

        <div class="col-xs-4">
          <div class="form-group">
            <label class="" for="">Preis:</label>
            <div class="input-group">
              <%= f.text_field :price ,:class =>"form-control" %>

            </div>
          </div>
        </div>

        <div class="col-xs-4">
          <div class="form-group">
            <label class="" for="">Intervall:</label>
            <div class="input-group">
              <%= f.number_field :period ,:class =>"form-control" %>
            </div>
          </div>
        </div>



        <!-- Moritz  hier evtl noch Datepicker integrieren -->
        <div class="col-xs-4">
          <div class="form-group">
            <label class="" for="">Start:</label>
            <div class="input-group">
              <%= f.date_select :launch ,:class =>"form-control" %>

            </div>
          </div>
        </div>

        <!-- Moritz  hier evtl noch Datepicker integrieren -->
        <div class="col-xs-4">
          <div class="form-group">
            <label class="" for="">End:</label>
            <div class="input-group">
              <%= f.date_select :finish ,:class =>"form-control" %>

            </div>
          </div>
        </div>

        <div class="col-xs-4">
          <div class="form-group">
            <label class="" for="">Ist-Einkommen:</label>
            <div class="input-group">
              <%= f.check_box :income ,:class =>"form-control" %>
            </div>
          </div>
        </div>



      </div>

      <div class="panel-footer">
         <%= f.submit "Speichern" , :class => "btn btn-default"  %>
      </div>
    </div>
<% end %>
