<p id="notice"><%= notice %></p>

<p>
  <strong>Basket:</strong>
  <%= @item.basket %>
</p>

<p>
  <strong>Category:</strong>
  <%= show_category_name(@item.category) %>
</p>

<p>
  <strong>Article:</strong>
  <%= @item.article %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Notice:</strong>
  <%= @item.notice %>
</p>

<p>
  <strong>Income:</strong>
  <%= @item.income %>
</p>

<p>
  <strong>Period:</strong>
  <%= @item.period %>
</p>

<p>
  <strong>Launch:</strong>
  <%= @item.launch %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @item.finish %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
