<div class="page-header">
  <h1>Kategorien<i class="fa fa-files-o pull-right"></i></h1>
</div>

<% @categories.each do |category| %>
    <div class="col-xs-6 col-lg-4">

      <% if (category.active) %>
          <% if (category.income) %>
            <div class="panel panel-success">
          <% else %>
            <div class="panel panel-danger">
          <% end %>
      <% else %>
          <div class="panel panel-primary">
      <% end %>



      <div class="panel-heading">
        <%= link_to category do %>
        <h3 class="panel-title text-center">
          <% if (category.income) %>
              <i class="fa fa-plus pull-left" data-toggle="tooltip" data-placement="left" title="Einnahme"></i>
          <% else %>
              <i class="fa fa-minus pull-left" data-toggle="tooltip" data-placement="left" title="Ausgabe"></i>
          <% end %>


          <%= category.name %>

          <% if (category.active) %>
              <i class="fa fa-check pull-right" data-toggle="tooltip" data-placement="left" title="Category ist aktiv"></i>
          <% else %>
              <i class="fa fa-times pull-right" data-toggle="tooltip" data-placement="left" title="Category ist inaktiv"></i>
          <% end %>
        </h3>
        <% end %>
      </div>



      <div class="panel-body">

        <div class="text-center">
          <h4 data-toggle="tooltip" data-placement="bottom" title="Summe der bisherigen Ausgaben beim Händler">  <%=sum_price(find_items_of_category(category.id)) %> <i class="fa fa-euro"></i></h4>
        </div>
        <hr>
        <% if category.notice? %>
        <button type="button" class="btn btn-default btn-xs btn-block popover-top" data-toggle="popover" title="Notiz" data-content="<%= category.notice %>"><i class="fa fa-file-text"></i>  Notiz </button>
        <% end %>
      </div>

      <div class="panel-footer">
        <%= link_to edit_category_path(category) do %>  <button class="btn btn-default"> <i class="fa fa-pencil-square-o"></i> Ändern </button> <% end %>
        <%= link_to category, method: :delete, data: { confirm: 'Are you sure?' } do %> <button class="btn btn-default"> <i class="fa fa-trash-o"></i> Löschen </button>  <% end %>
      </div>

      </div>
    </div>
<% end %>

<br>

<%= link_to '+', new_category_path, :class => 'btn btn-default', :role => 'button' %>
