<%= form_for(@income) do |f| %>
<% if @income.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@income.errors.count, "error") %> prohibited this income from being saved:</h2>

    <ul>
        <% @income.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>




<div class="form-group">

  <div class="col-xs-6">
    <%= f.hidden_field :income, :value => true %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="col-xs-6">
  </div>

  <div class="col-xs-12">

    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-font"></i></div>
      <%= f.text_field :name, :class =>"form-control", :placeholder => "Name" %>
    </div>
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-money"></i></div>
      <%= f.text_field :price, :class =>"form-control", :placeholder => "Preis" %>
    </div>

    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-files-o"></i></div>
      <%= f.collection_select(:category_id, Category.where(:income => true, :user_id => current_user.id ), :id, :name, {multiple: false}, {:class=>'selectpicker'}) %>
    </div>

    <div class="input-group">
      <%= f.label :period_id %><br>
      <%= f.collection_select(:period_id, Period.all, :id, :name,  {multiple: false}, {:class=>'selectpicker'}) %>
    </div>

    <div class="col-xs-6">
      <div class="input-group">
        <%= f.label :launch %><br>
        <%= f.text_field :launch, :data => {:provide => "datepicker"} %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="input-group">
        <%= f.label :finish %><br>
        <%= f.text_field :launch, :data => {:provide => "datepicker"} %>
      </div>
    </div>


    <%= f.submit "Speichern" , :class => "btn btn-default" %>

  </div>
</div>
<% end %>