<div class="page-header">
  <h1>Einnahmen<i class="fa fa-money pull-right"></i></h1>
</div>

<% @incomes.each do |income| %>
    <div class="col-xs-6 col-lg-4">
      <% if (true) #incomes.active %>
          <div class="panel panel-success">
      <% else %>
          <div class="panel panel-warning">
      <% end %>

        <div class="panel-heading">
          <%= link_to income do %>
          <h3 class="panel-title"><%= income.name %></h3>
          <% end %>
        </div>
        <div class="panel-body">
            <p><i class="fa fa-money"></i> <%= income.price %> &euro;</p>
          <p><small><%= income.notice %></small></p>
          <% if(income.period) %>
          <p>Perioden: <%= income.period %></p>
          <% end %>
          <% if(income.finish) %>
          <p><%= income.launch %> - <%= income.finish %></p>
          <% end %>
        </div>
      <div class="panel-footer">
        <%= link_to "incomes/#{income.id}/edit" do %>  <button class="btn btn-default"> <i class="fa fa-pencil-square-o"></i> Ändern </button> <% end %>
        <%= link_to income, method: :delete, data: { confirm: 'Are you sure?' } do %> <button class="btn btn-default"> <i class="fa fa-trash-o"></i> Löschen </button>  <% end %>
      </div>
      </div>
    </div>
<% end %>

<br>

<%= link_to '+', income_new_path, :class => 'btn btn-default', :role => 'button' %>