<div class="page-header">
  <h1>  Incomes<i class="fa fa-money pull-right"></i>
  </h1>
</div>

<% @incomes.each do |income| %>
    <div class="col-xs-6 col-lg-4">
      <% if (true) #incomes.active %>
          <div class="panel panel-success">
      <% else %>
          <div class="panel panel-warning">
      <% end %>

        <div class="panel-heading">
          <h3 class="panel-title"><%= income.name %></h3>
        </div>
        <div class="panel-body">
            <p><%= income.price %> &euro;</p>
          <p><small><%= income.notice %></small></p>
          <p>Perioden: <%= income.period %></p>
          <p><%= income.launch %> - <%= income.finish %></p>

          <td><%= link_to 'Edit', "incomes/edit/#{income.id}", :class => 'btn btn-default', :role => 'button' %></td>
          <td><%= link_to 'Destroy', income, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default', :role => 'button' %></td>
        </div>
      </div>
    </div>
<% end %>



<br>

<%= link_to '+', income_new_path, :class => 'btn btn-default', :role => 'button' %>
