<div id="sidebar" class="col-xs-6 col-sm-3 sidebar-offcanvas">
  <ul class="nav nav-list">
    <li class="nav-header"><h4>Show</h4></li>
    <li><%= link_to "/baskets"  do %><i class="fa fa-shopping-cart"></i> Ausgaben <% end %> </li>
    <li><%= link_to "/incomes" do %><i class="fa fa-money"></i> Einnahmen <% end %> </li>
    <li><%= link_to "/categories" do %><i class="fa fa-files-o"></i> Kategorien <% end %> </li>
    <li><%= link_to "/vendors" do %><i class="fa fa-building-o"></i> Händler <% end %> </li>
    <li><%= link_to "/payments" do %><i class="fa fa-credit-card"></i> Zahlungsmethoden <% end %> </li>
  </ul>
</div>
</div>