<div class="page-header">
  <h1>Accounts<i class="fa fa-credit-card pull-right"></i></h1>
</div>

<% @accounts.each do |account| %>
    <div class="col-xs-6 col-lg-4">
      <% if (account.active) %>
      <div class="panel panel-success">
      <% else %>
          <div class="panel panel-warning">
      <% end %>
        <div class="panel-heading">
          <h3 class="panel-title"><%= account.name %>
          <% if (account.active) %>
              <i class="fa fa-check pull-right" data-toggle="tooltip" data-placement="left" title="Account ist aktiv"></i>
          <% else %>
              <i class="fa fa-times pull-right" data-toggle="tooltip" data-placement="left" title="Account ist inaktiv"></i>
          <% end %>
          </h3>
        </div>
        <div class="panel-body">
          <p><%= account.number %></p>
          <p><%= account.bic %></p>
        </div>

      <div class="panel-footer">
        <%= link_to edit_account_path(account) do %>  <button class="btn btn-default"> <i class="fa fa-pencil-square-o"></i> Ändern </button> <% end %>
        <%= link_to account, method: :delete, data: { confirm: 'Are you sure?' } do %> <button class="btn btn-default"> <i class="fa fa-trash-o"></i> Löschen </button>  <% end %>
      </div>
      </div>
    </div>
<% end %>



<br>

<%= link_to '+', new_account_path, :class => 'btn btn-default', :role => 'button' %>
